node_modules/
server/serviceAccountKey.json
serviceAccountKey.json
.env
server-local*.log
_github-upload-*/
pdf-images/
reposicao-producao/node_modules/
reposicao-producao/dist/
reposicao-producao/
android/.idea/
